div {
	background-color: #797574;
	color: #FBF9F9;
	font-size: 35px;
}

.vx {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	border: 1px solid pink;
	justify-content: space-around;
}

.vx > div {
	background-color: #F1AD9F;
	width: 40%;
	border: transparent;	
	font-size: 35px;
	color: black;
}

.vx span {
	color: blue;
}
.vx .rightbox {
	background-color: #FCF5F4;
	font-size: 60px;
}
.orange {
display: flex;
flex-wrap: wrap;
padding: 2rem;	
	
}
.orange img {
	width: 500px;

}