.vx {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	border: 1px solid pink;
	justify-content: space-around;
}

.vx > div {
	background-color: #F1AD9F;
	width: 40%;
	border: transparent;	
	font-size: 35px;
}

.vx span {
	color: blue;
}
.rightbox {
	background-color: #FCF5F4;
	font-size: 60px;
}